[access]
	inheritFrom = webos-pro/z-parent-project
[project]
	description = This repo will be used for new camera pipeline being developed for webOS OSE
[submit]
	action = cherry pick
[access "refs/heads/*"]
	owner = group webosose/g-camera-pipeline/integrators
	abandon = group webosose/g-camera-pipeline/integrators
	create = group webosose/g-camera-pipeline/integrators
	forgeAuthor = group webosose/g-camera-pipeline/integrators
	forgeCommitter = group webosose/g-camera-pipeline/integrators
	forgeServerAsCommitter = group webosose/g-camera-pipeline/integrators
	push = group webosose/g-camera-pipeline/integrators
	pushMerge = group webosose/g-camera-pipeline/integrators
	label-Code-Review = -2..+2 group webosose/g-camera-pipeline/integrators
	label-Verified = -1..+1 group webosose/g-camera-pipeline/integrators
	labelAs-Code-Review = -2..+2 group webosose/g-camera-pipeline/integrators
	labelAs-Verified = -1..+1 group webosose/g-camera-pipeline/integrators
	rebase = group webosose/g-camera-pipeline/integrators
	removeReviewer = group webosose/g-camera-pipeline/integrators
	submit = group webosose/g-camera-pipeline/integrators
	viewDrafts = group webosose/g-camera-pipeline/integrators
	editTopicName = group webosose/g-camera-pipeline/integrators
	deleteDrafts = group webosose/g-camera-pipeline/integrators
	publishDrafts = group webosose/g-camera-pipeline/integrators
[access "refs/tags/*"]
	pushTag = group webosose/g-camera-pipeline/integrators
